.parent {
	-fx-background-color: #374454;
}

.home-button {
	-fx-background-color: #ff6007;
}

.home-button:hover {
	-fx-background-color: #ff6007;
}

.menu-button {
	-fx-background-color: transparent;
	-fx-background-radius: 0px;
}

.menu-button:hover {
	-fx-border-color: #ff6007;
}

.top-button {
	-fx-background-color: transparent;
	-fx-background-radius: 0px;
}

.top-button:hover {
	-fx-background-color: #333333;
	-fx-background-radius: 0px;
}

.trans-pane {
	-fx-background-color: transparent;
}